<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
http://code.alibabatech.com/schema/dubbo ">

    <bean class="org.apache.solr.client.solrj.impl.CloudSolrServer" name="caijing">
        <!--指定zookeeper的连接地址-->
        <constructor-arg name="zkHost"
                         value="localhost:2181"></constructor-arg>
        <!--默认的索引库-->
        <property name="defaultCollection" value="collection1"></property>

        <!--从zookeeper中获取的客户端的超时时间, -->
        <property name="zkClientTimeout" value="5000"></property>
        <!--设置 连接 zookeeper的超时时间-->
        <property name="zkConnectTimeout" value="5000"></property>
    </bean>
    <bean class="org.apache.solr.client.solrj.impl.CloudSolrServer" name="keji">
        <!--指定zookeeper的连接地址-->
        <constructor-arg name="zkHost"
                         value="localhost:2181"></constructor-arg>
        <!--默认的索引库-->
        <property name="defaultCollection" value="collection2"></property>

        <!--从zookeeper中获取的客户端的超时时间, -->
        <property name="zkClientTimeout" value="5000"></property>
        <!--设置 连接 zookeeper的超时时间-->
        <property name="zkConnectTimeout" value="5000"></property>
    </bean>
    <bean class="org.apache.solr.client.solrj.impl.CloudSolrServer" name="shishang">
        <!--指定zookeeper的连接地址-->
        <constructor-arg name="zkHost"
                         value="localhost:2181"></constructor-arg>
        <!--默认的索引库-->
        <property name="defaultCollection" value="collection3"></property>

        <!--从zookeeper中获取的客户端的超时时间, -->
        <property name="zkClientTimeout" value="5000"></property>
        <!--设置 连接 zookeeper的超时时间-->
        <property name="zkConnectTimeout" value="5000"></property>
    </bean>
    <bean class="org.apache.solr.client.solrj.impl.CloudSolrServer" name="tiyu">
        <!--指定zookeeper的连接地址-->
        <constructor-arg name="zkHost"
                         value="localhost:2181"></constructor-arg>
        <!--默认的索引库-->
        <property name="defaultCollection" value="collection4"></property>

        <!--从zookeeper中获取的客户端的超时时间, -->
        <property name="zkClientTimeout" value="5000"></property>
        <!--设置 连接 zookeeper的超时时间-->
        <property name="zkConnectTimeout" value="5000"></property>
    </bean>
    <bean class="org.apache.solr.client.solrj.impl.CloudSolrServer" name="xinwen">
        <!--指定zookeeper的连接地址-->
        <constructor-arg name="zkHost"
                         value="localhost:2181"></constructor-arg>
        <!--默认的索引库-->
        <property name="defaultCollection" value="collection5"></property>

        <!--从zookeeper中获取的客户端的超时时间, -->
        <property name="zkClientTimeout" value="5000"></property>
        <!--设置 连接 zookeeper的超时时间-->
        <property name="zkConnectTimeout" value="5000"></property>
    </bean>
    <bean class="org.apache.solr.client.solrj.impl.CloudSolrServer" name="yule">
        <!--指定zookeeper的连接地址-->
        <constructor-arg name="zkHost"
                         value="localhost:2181"></constructor-arg>
        <!--默认的索引库-->
        <property name="defaultCollection" value="collection6"></property>

        <!--从zookeeper中获取的客户端的超时时间, -->
        <property name="zkClientTimeout" value="5000"></property>
        <!--设置 连接 zookeeper的超时时间-->
        <property name="zkConnectTimeout" value="5000"></property>
    </bean>

    <!--dubbox相关配置-->
    <dubbo:protocol name="dubbo" port="20881"></dubbo:protocol>
    <dubbo:application name="search-service"/>
    <dubbo:registry protocol="zookeeper" address="127.0.0.1:2181"/>
    <dubbo:annotation package="com.xiaobai.search.service"/>
</beans>